# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#
/asp
/asp.bin
/asp.dfu
/cfg1_out
/cfg1_out.c
/cfg1_out.db
/cfg1_out.srec
/cfg1_out.syms
/cfg1_out.timestamp
/cfg2_out.db
/gen/
/kernel_cfg.c
/kernel_cfg.h
/kernel_cfg.timestamp
/offset.h
/offset.timestamp
/.cache
/objs/libpybricks

